* {
    margin: 0;
    padding: 0;
}

/* Navbar Section start */
.Nav_section {
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 0 100px;
    font-size: 22px;
}

.Nav_section .manu_bar li {
    list-style: none;

}

.Nav_section .manu_bar li a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(98, 97, 97);
    font-weight: bold;
}
.Nav_section .manu_bar li a:hover{
    background-color: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

.Nav_section .register_btn a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}
.Nav_section .register_btn a:hover{
    color: red;
}

/* End */

.hero_section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(./images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.section_top_part h1{
    font-size: 90px;
    margin-bottom: 100px;
}
.section_top_part{
    font-size: 25px;
    margin-bottom: 155px;
}
.hero_section .register_btn a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 20px 45px;
    border-radius: 10px;
    font-size: 25px;
}
.hero_section .register_btn a:hover{
    color: red;
}